@model IEnumerable<Producto.Entities.Producto>
@{
    ViewBag.Title = "Listar Productos";
    Layout = "~/Views/Shared/Administrator/_Layout.cshtml";
}

<div class="container">
    <div class="header">
        <center><h2>Detalles De Los Productos</h2></center>
    </div>
    <br />

    <div class="table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Foto</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Nombre</td>
                        <td>@item.Cantidad</td>
                        <td>@item.Descripcion</td>
                        <td>@Html.DisplayFor(modelItem => item.Precio, "{0:C}")</td>
                        <td><img src="@Url.Content("~/assets/imagenes/" + item.Foto)" alt="@item.Nombre" width="100" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
